.main_div{
    background-color: rgb(7, 7, 107);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.main_div a{
    color: white;
    text-decoration: none;
}

.main_div a:hover{
    color: blue;
}

.original_div{
    display: flex;
    border: 5px;
    gap: 5px;
    height: 300px;
    width: 300px;
}