body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.original_div{
    background-color: rgb(3, 59, 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.original_div a{
    text-decoration: none;
    color: white;
}

.original_div a:hover{
    color: rgb(20, 156, 20);
}

.div1{
    background-color: rgb(169, 240, 169);
    color: white;
    text-align: center;
    padding: 100px;
}

.div1 h1{
    font-size: 48px;
}

.div1 o{
    font-size: 18px;
    margin-bottom: 30px;
}

.small_btn{
    background-color: whitesmoke;
    border: none;
    color:green ;
    padding: 13px;
    border-radius: 3px;
    cursor: pointer;
}

.small_btn:hover{
    background-color: rgb(78, 184, 78);
}

.big_btn{
    color: whitesmoke;
    padding: 13px;
    border: solid 2px whitesmoke;
    background: transparent;
    border-radius: 3px;
}

.parent_section{
    display: flex;
    justify-content: center;
    background-color: rgb(192, 245, 192);
    gap: 20px;
    padding: 60px;
}

.feature{
    background-color: white;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
}

.categories{
    text-align: center;
}

.category_div{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.category_child{
    background-color: rgb(142, 235, 142);
    padding: 40px;
    border-radius: 5px;
    font-weight: bold;
    cursor:  pointer ;
}

.category_child:hover{
    color: white;
    background-color: rgb(177, 233, 177);
}

.buy{
    text-align: center;
    background-color: rgb(181, 255, 181);
    padding: 60px;
    margin-top: 30px;
    color: white;
}

.footer{
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
        padding-left: 5px;
        padding-right: 5px;

    }

    .parent_section{
        flex-direction: column;
    }

    .category_div{
        flex-direction: column;
    }
}