body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.original_div{
    background-color: rgb(3, 73, 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.original_div a{
    text-decoration: none;
    color: white;
}

.original_div a:hover{
    color: rgb(3, 68, 3);
}

.sale1{
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.sale1 img{
    width: 300px;
    height:370px;
    border-radius: 5px;
}

.sale1 div{
    border: 1px solid rgb(3, 58, 3);
    border-radius: 5px;
    flex-basis: 300px;
}

.sale1 div:hover{
    border: 5px solid rgb(3, 75, 3);
    border-radius: 10px;
}

.sale1 div button{
    border: none;
    color: rgb(3, 78, 3);
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: larger;
    font-weight: bold;
}

.sale1 div button:hover{
    border: 1px solid rgb(3, 71, 3);
}

.sale1 div p{
    padding-left: 3px;
}

.sale2{
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.sale2 img{
     width: 300px;
    height:370px;
    border-radius: 5px;
}

.sale2 div{
    border: 1px solid rgb(3, 66, 3);
    border-radius: 5px;
    flex-basis: 300px;
}

.sale2 div:hover{
    border: 5px solid rgb(3, 80, 3);
    border-radius: 10px;
}

.sale2 div button{
    border: none;
    color: rgb(3, 97, 3);
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: larger;
    font-weight: bold;
}

.sale2 div button:hover{
    border: 1px solid rgb(78, 194, 78);
}

.sale2 div p{
    padding-left: 3px;
}

@media screen and (max-width: 600px) {
    body{
       font-size: small;
    }
    
    .sale1{
        flex-direction: column;

    }

    .sale1 div{
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }

    .sale1 div img{
        width: 100%;
        height: 470px;
    }

    .sale2{
        flex-direction: column;
    }

    .sale2 div{
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }

    .sale2 div img{
        width: 100%;
        height: 470px;
    }

    .sale1 div p{
        padding-left: 10px;
    }

    .sale2 div p{
        padding-left: 10px;
    }
    
}