body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.original_div{
    background-color: rgb(3, 73, 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.original_div a{
    text-decoration: none;
    color: white;
}

.original_div a:hover{
    color: rgb(3, 68, 3);
}

form{
    background-color: rgb(4, 44, 4);
    padding: 20px;
    border: rgb(2, 44, 2) solid;
    width: 300px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 5px;
}

form button{
    background-color: rgb(2, 75, 2);
    border-radius: 3px;
    color: white;
    margin-top: 5px;
    border: none;
}

form button a:hover{
    color: rgb(6, 112, 6);
}